*{
  font-family: 'Roboto', sans-serif;
}
.color{
  background-color: #28A745;
}
.cupon{
  background-color: #28A745;
  padding: 0%;
}
.cp{
  color:#28A745;
  text-decoration: none;
}
.td{
  text-decoration: none;
}
.pa{
  color: #707070;
}
